@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <input type="text" id="ipAddress" value="192.168.1.7" />
        <input type="text" id="topic" value="IRRIGATION" />
        <input type="text" id="message" value="Start1"/>
        <input type="button" value="Send command" id="sendCommand"/>
        <input type="checkbox" name="my-checkbox" checked>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sendCommand').click(function () {
            var ipAddress = $('#ipAddress').val();
            var topic = $('#topic').val();
            var message = $('#message').val();
            $.ajax({
                type: "GET",
                url: '@Url.Action("SendCommand", "Ajax")',
                data: {
                    state: state,
                    ipAddress: ipAddress,
                    topic: topic,
                    message: message
                },
                dataType: "json",
                success: function (data) { }
            });
        })
        $("[name='my-checkbox']").bootstrapSwitch();

        $('input[name="my-checkbox"]').on('switchChange.bootstrapSwitch', function (event, state) {
            console.log(this); // DOM element
            console.log(event); // jQuery event
            console.log(state); // true | false
            var ipAddress = $('#ipAddress').val();
            var topic = $('#topic').val();
            $.ajax({
                type: "GET",
                url: '@Url.Action("SendCommand", "Ajax")',
                data: {
                    state: state,
                    ipAddress: ipAddress,
                    topic: topic
                },
                dataType: "json",
                success: function (data) { }
            });
        });

        //$("[name='my-checkbox']").click(function() {
        //    var type = $(this).data('switch-get');
        //    var value = $('#switch-' + type).bootstrapSwitch(type);
        //    var t = $(this);
        //});
    });
</script>